.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* navbar desgin starts from here */
.nav-logo{
  text-align: left;
  margin-top: 10px;
}

.nav-heading h1{
  text-align: right;
  margin-top: 10px;

}

.navbar-menu{
  flex-direction: row;
  justify-content: flex-end;
}

.navbar-menu a{
  padding: 5px 10px;
  margin: 20px 0;
  background-color: transparent;
  font-weight: bold;
  font-size: 18px;
}

/* navbar desgin ends here */

/* profile desgin starts from here */

.profile .top-weather-icon{
  right: 100px;
  width: 120px;
  transition: width 2s, transform 2s;
}
.profile .top-weather-icon:hover{
  width: 140px;
}

.profile .bottom-weather-icon{
  left: 140px;
  bottom: 20px;
  width: 120px;
  transition: width 2s, transform 2s;
}
.profile .bottom-weather-icon:hover{
  width: 140px;
}

.profile-desc p{
  color: gray;
  margin: 0 auto;
  text-align: center;
  width: 50%;
  margin-bottom: 10px;
}

/* profile desgin ends here */


/* about me design starts from here */

.aboutme-image{
  margin-top: 100px;
}

.aboutme-image img{
  height: 310px;
  width: 300px;
  margin-right: 200px;
}

/* about me design ends here */


/* professional design experience starts from here */

.professional-exprience{
  padding: 1% 5%;
}

/* professional design experience ends here */

/* Achievement Contact Starts From Here */
.achievement{
  padding-right: 50px;
}

.contact button{
  width: 140px;
}


/* achievement Contact Ends  Here */

/* Footer starts from here */

.footer-menu{
  margin-top: 12px;
}

.footer-menu a {
  display: inline;
  margin: 10px;
  
}

/* Footer ends from here */